.btn {
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  padding: 6px 0;
}

.btn-orange {
  background-color: #F26631;
}

.product-buttons {
  text-align: center;
  clear: both;
  padding-top: 24px;
  
  .btn {
    font-size: 9px;
    padding: 10px 12px;
  }
}