.wrap {
  max-width: 970px;
  padding: 0 10px;
  margin: auto;
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.fifth {
  float: left;
  width: 20%;
  padding: 5px;
  &:focus, &:active {
    outline: none;
  }
  img {
    width: 100%;
  }
  
  .fifth-text-1 {
    font-size: 12px;
    font-style: italic;
  }
  .fifth-text-2 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  &:hover .product-overlay {
    display: block;
  }
}

.product {
  position: relative;
}
.product-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  
  span {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin-top: -10px;
  }
}

@include bp(small) {
  .fifth {
    text-align: center;
    &:hover .product-overlay {
      display: none;
    }
    .fifth-text-1,
    .fifth-text-2 {
      display: block;
      font-size: 18px;
    }
    img {
      width: 150px;
    }
  }
}

.sixth {
  float: left;
  width: 16.666%;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  img {
    width: 50px;
  }
  
  span {
    font-size: 13px;
    display: block;
    margin-top: 6px;
  }
}

.half {
  float: left;
  width: 50%;
  padding: 5px;
  margin-bottom: 20px;
  
  .half-1, .half-2 {
    padding: 56% 5px 5px 5px;
  }
  
  img {
    width: 100px;
  }
}
.half-1 {
  background-image: url('https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/footer1.jpg');
}

.half-2 {
  background-image: url('https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/footer2.jpg');
}


.third {
  float: left;
  width: 33.3333%;
  padding: 5px;
  position: relative;
  
  span {
    margin: 16px 0 30px 0;
    display: block;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
}

.half-1,
.half-2,
.third-1,
.third-2,
.third-3 {
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 100%;
  position: relative;
  display: block;
}

.third-1 {
  background-image: url('https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/third1.jpg');
}

.third-2 {
  background-image: url("https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/third2.jpg");
}

.third-3 {
  background-image: url("https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/third3.jpg");
}


@include bp(small) {
  .third span {
    display: none;
  }
  
  .third-1 {
    background-image: url("https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/third1-mobile.jpg");
  }

  .third-2 {
    background-image: url("https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/third2-mobile.jpg");
  }

  .third-3 {
    background-image: url("https://cdn2.bigcommerce.com/server4400/xhqax36/product_images/uploaded_images/third3-mobile.jpg");
  }
  
  .bp-small-1-2 {
    width: 50%;
  }
  .bp-small-1 {
    width: 100%;
    margin-bottom: 0;
  }
}